
$theme-color: rgb(238, 0, 142);
$theme-font: Open Sans,helvetica,arial,sans-serif;


// stars css taken from https://codepen.io/FredGenkin/pen/eaXYGV
:root {
  --star-size: 1em;
  --star-color: grey;
  --star-background: rgb(238, 0, 142);
}
