<div class="controls-container" [ngClass]="{'collapse': isSidebarCollapsed}">
  <button class="btn btn-action btn-action__collapse" role="button" aria-label="Toggle sidebar collapse" (click)="isSidebarCollapsed = !isSidebarCollapsed">
    <i class="fa-solid" [ngClass]="isSidebarCollapsed ? 'fa-arrow-right' : 'fa-arrow-left'"></i>
  </button>
  <form [formGroup]="sortFilterForm">
    <h3>Fitler By Categories</h3>
    <div class="controls-container__categories inset-align">
      <label formArrayName="categories" *ngFor="let cat of categories; let i = index;">
        <input type="checkbox" [formControlName]="i" [value]="cat" (change)="selectCat()">
        {{cat}}
      </label>

    </div>


    <h3>Sort By</h3>
    <h4>Sort Order</h4>
    <select class="controls-container__sort-order" name="order" id="order" formControlName="order" (change)="selectOrder()">
      <option [value]="'asc'">Ascending</option>
      <option [value]="'desc'">Descending</option>
    </select>
    <h4>Sort Type</h4>
    <div class="controls-container__sort inset-align">
        <label *ngFor="let field of sortFields">
          <input type="radio" formControlName="sortFields" [value]="field" (change)="sortOnField()">
          {{field}} ({{sortOrder}})
        </label>
    </div>
    </form>
</div>
<section *ngIf="products$ | async as products">
  <app-card *ngFor="let product of products | filterBy: filterField : filterFieldValue | orderByValue: {field: sortField, order: sortOrder}; trackBy: trackById" [product]="product"></app-card>
</section>
