
<div class="cart" [ngClass]="showCart ? 'expand' : 'shrink'" *ngIf="hasCart">
  <i tabindex="0" (click)="toggleCart()" (keyup.enter)="toggleCart()"  (keyup.space)="toggleCart()" class="fa-solid fa-basket-shopping"><small>{{cartTotal}}</small></i>
  <div class="cart__contents" *ngIf="cart">
    <div class="cart__contents-icon-container">
      <div class="cart__contents-icon"><i tabindex="0" (click)="toggleCart()" (keyup.enter)="toggleCart()"  (keyup.space)="toggleCart()" class="fa-solid fa-xmark"></i></div>
    </div>
    <div class="cart__contents-item">
        <div class="d-flex item-head">
          <h4>Title</h4>
          <h4 class="text-right">Amount</h4>
          <h4 class="text-right">Price</h4>
          <h4 class="text-right">Action</h4>
        </div>
        <ul class="d-flex">
            <li *ngFor="let item of cart; index as index">
              <p>{{item.title}}</p>
              <p class="cart__contents-item-amount text-right"><b>{{item.amount}}</b></p>
              <p class="text-right">£{{item.price * item.amount | number:  '1.2-2'}}</p>
              <p class="text-right"><button class="btn btn-action" (click)="removeCartItem(item.id, index)"><i class="fa-solid fa-trash"></i></button></p>
            </li>
            <li>
              <p class="text-right price-label">Total Price:</p>
              <p class="text-right">£{{cartTotalPrice | number: '1.2-2'}}</p>
              <p class="text-right"><button class="btn btn-action" (click)="clearBasket()"><i class="fa-regular fa-trash-can"></i></button></p>
            </li>
        </ul>
      </div>
  </div>
</div>





