@import './assets/styles/main.scss';
*{
  box-sizing: border-box;
}

body{
  font-family: $theme-font;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.d-flex{
  display: flex;
  justify-content: space-between;
}

section{
  width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.product-page{
  height: 100dvh;
  flex-wrap: wrap;
  justify-content: space-evenly;
  @media screen and (max-width: 700px){
    justify-content: center;
  }
  align-items: center;
  margin: auto;
  &__image{
    @media screen and (min-width: 700px){
      width: 30%;
    }
    width: 80%;
    height: max-content;
  }
  &__details{
    @media screen and (min-width: 700px){
      width: 30%;
    }
    width: 80%;
    &-description{
      font-size: 0.8em;
    }
  }
  &__add{
    padding: 1em 2em;
    border-radius: 1em 0em 1em 0em;
  }
}

